@charset "utf-8";

/*헤더시작*/
#header{
}
#header .headerTop{
    height: 75px;
    background: url(../imges/common/logo_bg.png);
    position: relative;
    border-bottom: 1px solid #ccc;
}
#header h1{
    width: 112px;
    height: 43px;
    background: url(../imges/common/logo.png) no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -56px;
}
#header h1 a{
    height: 100%;
    display: block;
}

.pannel{
    width: 30px;
    height: 24px;
    background: url(../imges/common/pannel.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -12px;
    text-indent: -9999px;
}
.pannel a{
    display: block;
}
/*pannel*/
#mySidenav{
    text-align: left;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #393131;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-right: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.sidenav ul{
    padding: 0 20px;
}
.sidenav h3{
    font-size: 25px;
    font-weight: bold;
    color: #f5f5f5;
    border-top: 1px solid #818181;
    border-bottom: 1px solid #818181;
    margin-top: 10px;
    padding-left: 5px;
}
.sidenav img{
    width: 111px;
    height: 42px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 15px;
    margin-left: -55px;
}
.pannelLag{
    border: 1px solid #fff;
}



/*mapBar*/
.mapBar{
    width: calc(100% - 40px);
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    position: relative;
}
.mapBar li{
    display: inline-block;
    font-size: 0;
    background: url(../imges/common/arrow_right01.png) no-repeat;
    background-position: left;
    padding: 0 14px;
}
.mapBarHome{
}
.mapBar .mapBarHome a{
    width: 14px;
    height: 14px;
    display: block;
    font-size: 15px;
    background: url(../imges/common/home.png) no-repeat;
    background-size: 100% 100%;
    text-indent: -9999px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 0;
}
.mapBar li p{
    font-size: 15px;
    margin-left: 5px;
}
.mapBar li p a{
    color: #000;
}
.mapBarPage{
    font-weight: bold;
}



/*푸터시작*/
#footer{}

.footerBg{
    background: #000;
    padding: 20px 0 40px 0;
}
.footerInner{
    width: calc(100% - 40px);
    margin: 0 auto;
}
/*푸터배너*/
.footerBnr{}
.footerBnr li{
    width: 30%;
    float: left;
    margin-bottom: 20px;
}
.footerBnr li a{
    display: block;
}
.footerBnr li a img{
    width: 100%;
    max-width: 80px;
}
.footerBnr .bnrLast{
    width: 8%;
}
.footerBnr .bnrLast a img{
    max-width: 24px;
}
/*푸터메뉴*/
.footerMenu{
    /*text-align: center;*/
}
.footerMenu ul{

}
.footerMenu ul li{
    background: url(../imges/common/bar_footer_menu.png) no-repeat;
    background-position: 0;
    display: inline-block;
    padding: 11px;
}
.footerMenu ul li:first-child{
    padding-left: 0;
    background: none;
}
.footerMenu ul li a{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    display: block;
}
/*푸터내용*/
.footerText{}
.footerText ul{}
.footerText ul li{}
.footerText ul li p{
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    margin-bottom: 5px;
}
/*푸터로고*/
.footerLogo{
    width: calc(100% - 40px);
    margin: 0 auto;
}
.footerLogo a{
    display: block;
}
.footerLogo a img{
    width: 100%;
    margin-top: -30px;
}
